{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "browser": true,
    "jquery" : true,
    "es6": true
  }
}
